@font-face {
  font-family: Aurora;
  src: url("assets/fonts/Aurora.otf");
}

@font-face {
  font-family: Baskerville;
  src: url("assets/fonts/Baskerville Old Face.ttf");
}

.merch {
  text-align: center;
}

.header-container {
  min-height: 50px;
  max-height: 200px;
}

.merch-header {
  font-weight: 800 !important;
  font-family: Aurora;
}

.swiper-container {
  max-width: 90vw;
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.card-merch {
  overflow: hidden !important;
  width: 300px !important;
  height: 400px !important;
  border-radius: 50% !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-image img {
  max-width: 100%;
  height: 220px !important;
  display: block;
  margin: 0 auto;
}

.card-price {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  z-index: 200;
  font-weight: 700;
  font-family: Baskerville;
}

.order-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 200;
}

.order-button {
  font-size: 1.3rem !important;
  border-radius: 3px !important;
  font-weight: 800 !important;
  background-color: white !important;
  color: black !important;
  border: none !important;
  font-family: Baskerville !important;
}

.order-button:hover {
  background-color: black !important;
  color: white !important; 
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
  background-color: white;
  width: 50px;
  height: 80px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    transform: scale(0.5);
    font-weight: bolder;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000;
    background-color: transparent;
    width: 30px;
    height: 50px;
  }
}

#carouselExampleAutoplaying {
  width: 420px !important;
  height: 320px !important;
  border-radius: 15px;
  background: #1c1a42;
  margin: 0.5rem auto;
}

.carousel-item img {
  width: 400px !important;
  height: 300px !important;
  margin: 0 auto !important;
}

@media screen and (max-width: 500px) {
  #carouselExampleAutoplaying {
    width: 380px !important;
    height: 290px !important;
    padding: 0.2rem;
  }

  .carousel-item img {
    width: 360px !important;
    height: 270px !important;
  }
}

@media screen and (max-width: 400px) {
  #carouselExampleAutoplaying {
    width: 300px !important;
    height: 230px !important;
  }

  .carousel-item img {
    width: 280px !important;
    height: 210px !important;
  }
}

@media screen and (max-width: 300px) {
  #carouselExampleAutoplaying {
    width: 260px !important;
    height: 200px !important;
  }

  .carousel-item img {
    width: 240px !important;
    height: 180px !important;
  }
}
